<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zh</key>
	<dict>
		<key>line</key>
		<string>号线</string>
		<key>乘车查询</key>
		<dict>
			<key>网络图</key>
			<string>btnlinemap,btnlinemaphighlighted</string>
			<key>btncancle</key>
			<string>取  消</string>
			<key>nearstation</key>
			<string>nearstation,nearstationhighlighted</string>
			<key>车站背景</key>
			<string>bgplansearch</string>
			<key>btndone</key>
			<string>确  定</string>
			<key>Queryresults</key>
			<string>Queryresults,Queryresultshighlighted</string>
			<key>Toptitle</key>
			<string>乘车查询</string>
			<key>segmentimage</key>
			<string>btnplanwithcard,btnplanwithcardhighlighted,btnplanwithticket,btnplanwithtickethighlighted</string>
			<key>alerttitle</key>
			<string>请选择票种!,出发站和到达站相同!,出发站未设置!,到达站未设置!</string>
			<key>background</key>
			<string>bgplanquery</string>
			<key>line</key>
			<string>号线</string>
			<key>name</key>
			<string>name_cn</string>
			<key>starlabel</key>
			<string>出发站</string>
			<key>endlabel</key>
			<string>到达站</string>
			<key>textcard</key>
			<string>选择票的种类</string>
			<key>Scardtext</key>
			<string>交通卡</string>
			<key>Stickettext</key>
			<string>单程票</string>
			<key>nearstatext</key>
			<string>附近车站</string>
			<key>resulttext</key>
			<string>查询结果</string>
		</dict>
		<key>string1</key>
		<string></string>
		<key>clockVoice</key>
		<dict>
			<key>buguniao</key>
			<string>布谷鸟</string>
			<key>selectOk</key>
			<string>selectOk</string>
			<key>repeatMock</key>
			<string>repeatMock</string>
			<key>title</key>
			<string>铃声</string>
		</dict>
		<key>repeat</key>
		<dict>
			<key>Sunday</key>
			<string>星期日</string>
			<key>Saturday</key>
			<string>星期六</string>
			<key>Friday</key>
			<string>星期五</string>
			<key>Thursday</key>
			<string>星期四</string>
			<key>Wednesday</key>
			<string>星期三</string>
			<key>Tuesday</key>
			<string>星期二</string>
			<key>Monday</key>
			<string>星期一</string>
			<key>selectOk</key>
			<string>selectOk</string>
			<key>repeatMock</key>
			<string>repeatMock</string>
			<key>title</key>
			<string>重复</string>
		</dict>
		<key>帮助</key>
		<dict>
			<key>Toptitle</key>
			<string>使用帮助</string>
			<key>backgroundimage</key>
			<string>imgplanhelp</string>
		</dict>
		<key>addClock</key>
		<dict>
			<key>alerttitle</key>
			<string>请选择票种!,出发站和到达站相同!,出发站未设置!,到达站未设置!</string>
			<key>name</key>
			<string>name_cn</string>
			<key>btndone</key>
			<string>确定</string>
			<key>btncancle</key>
			<string>取消</string>
			<key>line</key>
			<string>号线</string>
			<key>tranfors</key>
			<string>换乘站</string>
			<key>selectLeft</key>
			<string>selectLeft</string>
			<key>map</key>
			<string>map</string>
			<key>vibrateChoose</key>
			<string></string>
			<key>clockVoiceChoose</key>
			<string>布谷鸟</string>
			<key>repeatChoose</key>
			<string>不重复</string>
			<key>zhongdianChoose</key>
			<string>点击这里选择车站</string>
			<key>clockTimeChoose</key>
			<string>点击这里设置时间</string>
			<key>qidianChoose</key>
			<string>点击这里选择车站</string>
			<key>vibrate</key>
			<string>震动</string>
			<key>clockVoice</key>
			<string>铃声</string>
			<key>repeat</key>
			<string>重复</string>
			<key>clockTime</key>
			<string>闹铃时间</string>
			<key>zhongdian</key>
			<string>终点</string>
			<key>qidian</key>
			<string>起点</string>
			<key>chezhan</key>
			<string>车站</string>
			<key>addClockMock</key>
			<string>addClockMock</string>
			<key>title</key>
			<string>添加闹钟</string>
			<key>btn-save</key>
			<string>btn-save,btn-save-highlight</string>
		</dict>
		<key>index</key>
		<dict>
			<key>clockImage</key>
			<string>clockImage</string>
			<key>btn-save</key>
			<string>btn-save,btn-save-highlight</string>
			<key>clock-bg</key>
			<string>clock-bg</string>
			<key>add-clock-bg</key>
			<string>add-clock-bg</string>
			<key>index-bg</key>
			<string>index-bg</string>
			<key>btn-add-clock</key>
			<string>btn-add-clock,btn-add-clock-highlight</string>
			<key>btn-set</key>
			<string>btn-set,btn-set-highlight</string>
			<key>btn-help</key>
			<string>btn-help,btn-help-highlight</string>
			<key>title</key>
			<string>赶地铁</string>
		</dict>
		<key>basic</key>
		<string>btn-left,btn-left-highlight</string>
	</dict>
	<key>en</key>
	<dict/>
</dict>
</plist>
