<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zh</key>
	<dict>
		<key>versionManager</key>
		<dict>
			<key>KpudianRoad</key>
			<string>浦电路</string>
			<key>kNewName</key>
			<string>newVersion.plist</string>
			<key>kDownloadHistory</key>
			<string>downloadHistory.plist</string>
		</dict>
		<key>DataBase</key>
		<dict>
			<key>point</key>
			<string>提示</string>
			<key>string1</key>
			<string>获取线路时sqlite3_prepare_v2操作失败，返回为</string>
			<key>hongqiao</key>
			<string>虹桥火车站</string>
			<key>jiading</key>
			<string>嘉定北</string>
			<key>shanghaih</key>
			<string>上海火车站</string>
			<key>changjiang</key>
			<string>长江南路</string>
			<key>dongfang</key>
			<string>东方体育中心</string>
			<key>shanghaiun</key>
			<string>上海大学</string>
			<key>gaoqing</key>
			<string>高青路</string>
			<key>jufeng</key>
			<string>巨峰路</string>
			<key>songhong</key>
			<string>淞虹路</string>
			<key>guanglan</key>
			<string>广兰路</string>
			<key>line_path_up</key>
			<string>line_path_up_cn</string>
			<key>line_path_down</key>
			<string>line_path_down_cn</string>
			<key>notices</key>
			<string>请选择,方向的地铁,首末班时间：</string>
			<key>noticesAry</key>
			<dict>
				<key>1</key>
				<dict>
					<key>star</key>
					<string>莘庄</string>
					<key>end_1</key>
					<string>上海火车站(或富锦路)</string>
					<key>end_2</key>
					<string>富锦路</string>
				</dict>
				<key>2</key>
				<dict>
					<key>star</key>
					<string>徐泾东</string>
					<key>star_2</key>
					<string>请选择广兰路方向的4节编组列车,首末班时间：6:00/22:00（列车间隔8-10分钟）</string>
					<key>end_1</key>
					<string>广兰路</string>
					<key>end_2</key>
					<string>请选择浦东国际机场方向的4节编组列车,首末班时间：6:00/22:00（列车间隔8-10分钟）</string>
				</dict>
				<key>3</key>
				<dict>
					<key>star</key>
					<string>上海南站</string>
					<key>end_1</key>
					<string>长江南路(或江杨北路)</string>
					<key>end_2</key>
					<string>江杨北路</string>
				</dict>
				<key>4</key>
				<dict>
					<key>star</key>
					<string>外圈(宜山路)</string>
					<key>end</key>
					<string>内圈(宜山路)</string>
				</dict>
				<key>5</key>
				<dict>
					<key>star</key>
					<string>莘庄</string>
					<key>end_2</key>
					<string>闵行开发区</string>
				</dict>
				<key>6</key>
				<dict>
					<key>star</key>
					<string>东方体育中心</string>
					<key>end_2</key>
					<string>港城路</string>
				</dict>
				<key>7</key>
				<dict>
					<key>star_1</key>
					<string>美兰湖</string>
					<key>star_2</key>
					<string>上海大学(或美兰湖)</string>
					<key>end</key>
					<string>花木路</string>
				</dict>
				<key>8</key>
				<dict>
					<key>star</key>
					<string>航天博物馆</string>
					<key>end_2</key>
					<string>市光路</string>
				</dict>
				<key>9</key>
				<dict>
					<key>star</key>
					<string>松江新城</string>
					<key>end_2</key>
					<string>杨高中路</string>
				</dict>
				<key>10</key>
				<dict>
					<key>star_2</key>
					<string>虹桥火车站(或航中路)</string>
					<key>star_1</key>
					<string>航中路</string>
					<key>end</key>
					<string>新江湾城</string>
				</dict>
				<key>11</key>
				<dict>
					<key>star</key>
					<string>嘉定北(或安亭)</string>
					<key>star_1</key>
					<string>安亭</string>
					<key>star_2</key>
					<string>嘉定北</string>
					<key>end</key>
					<string>江苏路</string>
				</dict>
			</dict>
			<key>Timef_e</key>
			<dict>
				<key>1</key>
				<dict>
					<key>star</key>
					<string>0111</string>
					<key>end_1</key>
					<string>0126</string>
					<key>end_2</key>
					<string>0138</string>
				</dict>
				<key>2</key>
				<dict>
					<key>star</key>
					<string>0234</string>
					<key>end_2</key>
					<string>0255</string>
				</dict>
				<key>3</key>
				<dict>
					<key>star</key>
					<string>0311</string>
					<key>end_1</key>
					<string>0331</string>
					<key>end_2</key>
					<string>0339</string>
				</dict>
				<key>4</key>
				<dict>
					<key>star</key>
					<string>外圈(宜山路)</string>
					<key>end</key>
					<string>内圈(宜山路)</string>
				</dict>
				<key>5</key>
				<dict>
					<key>star</key>
					<string>0501</string>
					<key>end_2</key>
					<string>0513</string>
				</dict>
				<key>6</key>
				<dict>
					<key>star</key>
					<string>0621</string>
					<key>end_2</key>
					<string>0648</string>
				</dict>
				<key>7</key>
				<dict>
					<key>star_1</key>
					<string>0721</string>
					<key>star_2</key>
					<string>0727</string>
					<key>end</key>
					<string>0753</string>
				</dict>
				<key>8</key>
				<dict>
					<key>star</key>
					<string>0820</string>
					<key>end_2</key>
					<string>0849</string>
				</dict>
				<key>9</key>
				<dict>
					<key>star</key>
					<string>0921</string>
					<key>end_2</key>
					<string>0943</string>
				</dict>
				<key>10</key>
				<dict>
					<key>star_1</key>
					<string>1018</string>
					<key>star_2</key>
					<string>1041</string>
					<key>end</key>
					<string>1068</string>
				</dict>
				<key>11</key>
				<dict>
					<key>star_1</key>
					<string>1117</string>
					<key>star_2</key>
					<string>1131</string>
					<key>star</key>
					<string>1133</string>
					<key>end</key>
					<string>1147</string>
				</dict>
			</dict>
			<key>TimeGroup</key>
			<dict>
				<key>1</key>
				<array>
					<string>0111,0114,0138</string>
					<string>0114,0115,0111</string>
					<string>0115,0137,0138</string>
					<string>0137,0138,0111</string>
				</array>
				<key>2</key>
				<array>
					<string>0234,0254,0255</string>
					<string>0254,0255,0234</string>
					<string>0255,0262,0263</string>
					<string>0262,0263,0255</string>
				</array>
				<key>3</key>
				<array>
					<string>0311,0312,0331</string>
					<string>0312,0339,0311</string>
				</array>
				<key>4</key>
				<array>
					<string>0401,0402,外圈(宜山路)</string>
					<string>0402,0426,内圈(宜山路)</string>
				</array>
				<key>5</key>
				<array>
					<string>0501,0502,0513</string>
					<string>0502,0513,0501</string>
				</array>
				<key>6</key>
				<array>
					<string>0621,0622,0648</string>
					<string>0622,0648,0621</string>
				</array>
				<key>7</key>
				<array>
					<string>0721,0722,0753</string>
					<string>0722,0753,0721</string>
				</array>
				<key>8</key>
				<array>
					<string>0820,0821,0849</string>
					<string>0821,0849,0820</string>
				</array>
				<key>9</key>
				<array>
					<string>0921,0922,0943</string>
					<string>0922,0943,0921</string>
				</array>
				<key>10</key>
				<array>
					<string>1018,1042,1068</string>
					<string>1042,1068,1041</string>
				</array>
				<key>11</key>
				<array>
					<string>1117,1132,1147</string>
					<string>1132,1147,1131</string>
				</array>
			</dict>
		</dict>
		<key>Planlistcell</key>
		<dict>
			<key>tranfer</key>
			<string>换乘</string>
			<key>string1</key>
			<string>预计车程,分</string>
			<key>string2</key>
			<string>票价,元</string>
			<key>string3</key>
			<string>途经共,站</string>
			<key>string4</key>
			<string>需换乘,次</string>
		</dict>
		<key>warning</key>
		<string>警告</string>
		<key>title</key>
		<string>服务器错误</string>
		<key>KpudianRoad4</key>
		<string>浦电路4</string>
		<key>KpudianRoad6</key>
		<string>浦电路6</string>
		<key>name</key>
		<string>name_cn</string>
		<key>line</key>
		<string>号线</string>
		<key>done</key>
		<string>确定</string>
		<key>stringplese</key>
		<string>请在图上点选出发/到达站</string>
		<key>string1</key>
		<string>请选择出发站...</string>
		<key>string2</key>
		<string>请选择到达站...</string>
		<key>tranfors</key>
		<string>换乘站</string>
		<key>wait</key>
		<string>请稍等...</string>
		<key>sina</key>
		<string>新浪微博授权认证</string>
		<key>QQ</key>
		<string>腾讯微博授权认证</string>
		<key>cancle</key>
		<string>取消</string>
	</dict>
	<key>en</key>
	<dict>
		<key>versionManager</key>
		<dict>
			<key>KpudianRoad</key>
			<string>Pudian Road</string>
			<key>kNewName</key>
			<string>newVersion.plist</string>
			<key>kDownloadHistory</key>
			<string>downloadHistory.plist</string>
		</dict>
		<key>DataBase</key>
		<dict>
			<key>point</key>
			<string>Point</string>
			<key>string1</key>
			<string>获取线路时sqlite3_prepare_v2操作失败，返回为</string>
			<key>hongqiao</key>
			<string>Hongqiao Railway Station</string>
			<key>jiading</key>
			<string>North Jiading</string>
			<key>shanghaih</key>
			<string>Shanghai Railway Station</string>
			<key>changjiang</key>
			<string>South Changjiang Road</string>
			<key>dongfang</key>
			<string>Oriental Sports Center</string>
			<key>shanghaiun</key>
			<string>Shanghai University</string>
			<key>gaoqing</key>
			<string>Gaoqing Road</string>
			<key>jufeng</key>
			<string>Jufeng Road</string>
			<key>songhong</key>
			<string>Songhong Road</string>
			<key>guanglan</key>
			<string>Guanglan Road</string>
			<key>notices</key>
			<string>请选择,方向的地铁首末班时间：</string>
			<key>line_path_up</key>
			<string>line_path_up_en</string>
			<key>line_path_down</key>
			<string>line_path_down_en</string>
			<key>noticesAry</key>
			<dict>
				<key>1</key>
				<dict>
					<key>star</key>
					<string>Xinzhuang</string>
					<key>end_1</key>
					<string>Shanghai Railway Station(Or Fujin Road)</string>
					<key>end_2</key>
					<string>Fujin Road</string>
				</dict>
				<key>2</key>
				<dict>
					<key>star</key>
					<string>East Xujing</string>
					<key>end_1</key>
					<string>Guanglan Road</string>
					<key>end_2</key>
					<string>请选择浦东国际机场方向的4节编组列车,首末班时间：6:00/22:00（列车间隔8-10分钟）</string>
					<key>star_2</key>
					<string>请选择广兰路方向的4节编组列车,首末班时间：6:00/22:00（列车间隔8-10分钟）</string>
				</dict>
				<key>3</key>
				<dict>
					<key>star</key>
					<string>Shanghai South Railway Station</string>
					<key>end_1</key>
					<string>South Changjiang Road(Or North Jiangyang Road)</string>
					<key>end_2</key>
					<string>North Jiangyang Road</string>
				</dict>
				<key>4</key>
				<dict>
					<key>star</key>
					<string>外圈(宜山路)</string>
					<key>end</key>
					<string>内圈(宜山路)</string>
				</dict>
				<key>5</key>
				<dict>
					<key>star</key>
					<string>Xinzhuang</string>
					<key>end_2</key>
					<string>Minhang Development Zone</string>
				</dict>
				<key>6</key>
				<dict>
					<key>star</key>
					<string>Oriental Sports Center</string>
					<key>end_2</key>
					<string>Gangcheng Road</string>
				</dict>
				<key>7</key>
				<dict>
					<key>star_1</key>
					<string>Meilan Lake</string>
					<key>star_2</key>
					<string>Shanghai University(Or Meilan Lake)</string>
					<key>end</key>
					<string>Huamu Road</string>
				</dict>
				<key>8</key>
				<dict>
					<key>star</key>
					<string>Aerospace Museum</string>
					<key>end_2</key>
					<string>Shiguang Road</string>
				</dict>
				<key>9</key>
				<dict>
					<key>star</key>
					<string>Songjiang Xincheng</string>
					<key>end_2</key>
					<string>Middle Yanggao Road</string>
				</dict>
				<key>10</key>
				<dict>
					<key>star_2</key>
					<string>Hongqiao Railway Station(Or Hangzhong Road)</string>
					<key>star_1</key>
					<string>Hangzhong Road</string>
					<key>end</key>
					<string>Xinjiangwancheng</string>
				</dict>
				<key>11</key>
				<dict>
					<key>star</key>
					<string>North Jiading(Or Anting)</string>
					<key>star_1</key>
					<string>Anting</string>
					<key>star_2</key>
					<string>North Jiading</string>
					<key>end</key>
					<string>Jiangsu Road</string>
				</dict>
			</dict>
			<key>Timef_e</key>
			<dict>
				<key>1</key>
				<dict>
					<key>star</key>
					<string>0111</string>
					<key>end_2</key>
					<string>0126</string>
					<key>end_1</key>
					<string>0138</string>
				</dict>
				<key>2</key>
				<dict>
					<key>star</key>
					<string>0234</string>
					<key>end_2</key>
					<string>0255</string>
				</dict>
				<key>3</key>
				<dict>
					<key>star</key>
					<string>0311</string>
					<key>end_1</key>
					<string>0331</string>
					<key>end_2</key>
					<string>0339</string>
				</dict>
				<key>4</key>
				<dict>
					<key>star</key>
					<string>外圈(宜山路)</string>
					<key>end</key>
					<string>内圈(宜山路)</string>
				</dict>
				<key>5</key>
				<dict>
					<key>star</key>
					<string>0501</string>
					<key>end_2</key>
					<string>0513</string>
				</dict>
				<key>6</key>
				<dict>
					<key>star</key>
					<string>0621</string>
					<key>end_2</key>
					<string>0648</string>
				</dict>
				<key>7</key>
				<dict>
					<key>star_1</key>
					<string>0721</string>
					<key>star_2</key>
					<string>0727</string>
					<key>end</key>
					<string>0753</string>
				</dict>
				<key>8</key>
				<dict>
					<key>star</key>
					<string>0820</string>
					<key>end_2</key>
					<string>0849</string>
				</dict>
				<key>9</key>
				<dict>
					<key>star</key>
					<string>0921</string>
					<key>end_2</key>
					<string>0943</string>
				</dict>
				<key>10</key>
				<dict>
					<key>star_1</key>
					<string>1018</string>
					<key>star_2</key>
					<string>1041</string>
					<key>end</key>
					<string>1068</string>
				</dict>
				<key>11</key>
				<dict>
					<key>star_1</key>
					<string>1117</string>
					<key>star_2</key>
					<string>1131</string>
					<key>star</key>
					<string>1133</string>
					<key>end</key>
					<string>1147</string>
				</dict>
			</dict>
			<key>TimeGroup</key>
			<dict>
				<key>1</key>
				<array>
					<string>0111,0114,0138</string>
					<string>0114,0115,0111</string>
					<string>0115,0137,0138</string>
					<string>0137,0138,0111</string>
				</array>
				<key>2</key>
				<array>
					<string>0234,0254,0255</string>
					<string>0254,0255,0234</string>
					<string>0255,0262,0263</string>
					<string>0262,0263,0255</string>
				</array>
				<key>3</key>
				<array>
					<string>0311,0312,0331</string>
					<string>0312,0339,0311</string>
				</array>
				<key>4</key>
				<array>
					<string>0401,0402,外圈(宜山路)</string>
					<string>0402,0426,内圈(宜山路)</string>
				</array>
				<key>5</key>
				<array>
					<string>0501,0502,0513</string>
					<string>0502,0513,0501</string>
				</array>
				<key>6</key>
				<array>
					<string>0621,0622,0648</string>
					<string>0622,0648,0621</string>
				</array>
				<key>7</key>
				<array>
					<string>0721,0722,0753</string>
					<string>0722,0753,0721</string>
				</array>
				<key>8</key>
				<array>
					<string>0820,0821,0849</string>
					<string>0821,0849,0820</string>
				</array>
				<key>9</key>
				<array>
					<string>0921,0922,0943</string>
					<string>0922,0943,0921</string>
				</array>
				<key>10</key>
				<array>
					<string>1018,1042,1068</string>
					<string>1042,1068,1041</string>
				</array>
				<key>11</key>
				<array>
					<string>1117,1132,1147</string>
					<string>1132,1147,1131</string>
				</array>
			</dict>
		</dict>
		<key>Planlistcell</key>
		<dict>
			<key>tranfer</key>
			<string>换乘</string>
			<key>string1</key>
			<string>预计车程,分</string>
			<key>string2</key>
			<string>票价,元</string>
			<key>string3</key>
			<string>途经共,站</string>
			<key>string4</key>
			<string>需换乘,次</string>
		</dict>
		<key>warning</key>
		<string>Warning</string>
		<key>title</key>
		<string>服务器错误</string>
		<key>KpudianRoad4</key>
		<string>Pudian Road 4</string>
		<key>KpudianRoad6</key>
		<string>Pudian Road 6</string>
		<key>name</key>
		<string>name_en</string>
		<key>line</key>
		<string>line</string>
		<key>done</key>
		<string>Confirm</string>
		<key>stringplese</key>
		<string>请在图上点选出发/到达站</string>
		<key>string1</key>
		<string>请选择出发站...</string>
		<key>string2</key>
		<string>请选择到达站...</string>
		<key>tranfors</key>
		<string>换乘站</string>
		<key>wait</key>
		<string>请稍等...</string>
		<key>sina</key>
		<string>Licensed by Tencent Microblog</string>
		<key>QQ</key>
		<string>Licensed by Sina Microblog</string>
		<key>cancle</key>
		<string>Cancel</string>
	</dict>
</dict>
</plist>
